<nav>
  <a href="/home"><img [src]="'/assets/logo.jpeg'" alt="Logo" class="nav-img"></a>
  <ul>
    <li><a (click)="onLinkClick()" [routerLink]="['personal']">Usuarios</a></li>
    <li><a href="/residencia">Residencia y Bienestar</a></li>
    <ng-container *ngIf="!isLoggedIn; else cerrarSesion">
      <li class="sign-in">
        <div class="link-wrapper">
          <a href="/login" class="sign-text">Iniciar Sesión</a>
        </div>
      </li>
    </ng-container>
    <ng-template #cerrarSesion>
      <li class="sign-in"><a (click)="desloguear()" class="sign-text">Cerrar
          Sesión</a></li>
    </ng-template>
    <app-user-nav></app-user-nav>
  </ul>
</nav>