<header>
    <app-navbar></app-navbar>
</header>

<img [src]="'/assets/original.jpg'" alt="Logo">

<main class="main-container">
    <div class="main-info">
        <h1>BIENESTAR UNIVERSITARIO</h1>
        <p>

            El Departamento de Bienestar Universitario desarrolla estrategias y
            programas educativos para la labor político-ideológica, la
            prevención del uso indebido de drogas, la promoción y fomento de
            valores, conocimientos, recursos y habilidades desde un enfoque
            integral. Sus especialistas trabajan para consolidar un entorno
            caracterizado por un ambiente intelectual, ético y estético, en el
            que la comunidad universitaria participe en actividades curriculares
            y extracurriculares, culturales, deportivas, recreativas y de salud,
            que fortalezcan la capacidad de estudiantes, profesores y
            trabajadores para asumir de manera autónoma y responsable un estilo
            de vida saludable.

        </p>
        <p>

            Entre las funciones y servicios de este departamento se encuentran:
            Generar y brindar servicios de bienestar a través de un trabajo
            interdisciplinario y un enfoque preventivo, que contribuyan a la
            formación integral y al mejoramiento de la calidad de vida de los
            miembros de la comunidad universitaria.
            Establecer programas de promoción y prevención en salud con el fin
            de fortalecer el bienestar individual y colectivo.
            Establecer un programa de asesoría psicológica y psicopedagógica
            para el mejoramiento de los procesos académicos y laborales.
            Ofrecer asesoría psicopedagógica para el acompañamiento a los
            estudiantes en su paso por la Universidad.
            Brindar orientaciones para el seguimiento a conductas y problemas
            personales de estudiantes y trabajadores.

        </p>
    </div>
    <app-sidebar></app-sidebar>
</main>

<app-footer></app-footer>
