<header>
    <app-navbar></app-navbar>
</header>
<main class="main-container ">
    <div class="main-info">
        <h1>Un algo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Excepturi</b>  libero fuga laborum dignissimos. Amet debitis, doloremque aperiam, officiis nam commodi, aliquam voluptates odit soluta magnam assumenda. Ullam et mollitia veniam.</p>
        <a href="" class="cta">
            Inicia aqui
        </a>
    </div>
    <app-sidebar></app-sidebar>
</main>
<app-footer></app-footer>
