.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "main main sidebar";
    margin-top: 200px;
}
  
  .item-1 {
    grid-area: header;
  }
  
  .main-info {
    margin: 0 auto;
    grid-area: main;
    padding: 20px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p{
    line-height: 22px;
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
  }

  h2{
    text-align: center;
  }
  
  
  .cta{
    color: white;
    background-color: rgb(11, 11, 201);
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }